github "ReactiveX/RxSwift" ~> 5.1.2
github "RxSwiftCommunity/RxDataSources" ~> 4.0.1
github "onevcat/Kingfisher" ~> 6.0.0
github "Alamofire/Alamofire" ~> 5.4.3
github "Moya/Moya" ~> 14.0.1
github "CocoaLumberjack/CocoaLumberjack" ~> 3.7
github "Swinject/Swinject" ~> 2.7.0
github "Swinject/SwinjectAutoregistration" ~> 2.7.0
github "evgenyneu/keychain-swift" ~> 19.0.0
github "airbnb/lottie-ios" ~> 3.2.0
github "WenchaoD/FSCalendar" ~> 2.8.2
github "RxSwiftCommunity/RxReachability" ~> 1.2.1